[Unit]
Description=Aura Guardian Rules
After=network-online.target

[Service]
ExecStart=/home/arduino/aura-src/.venv/bin/python -m aura.cli run-guardian
Restart=always
RestartSec=3
User=root
Environment=AURA_HOME=/home/arduino/.aura
WorkingDirectory=/home/arduino/aura-src

[Install]
WantedBy=multi-user.target
